@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

body {
  margin: 0;
  padding: 0;
  background: url("../assets/symbol-scatter-haikei.svg");
  overflow-x: hidden;
  min-height: 100vh;
}
* {
  font-family: "Montserrat Alternates", sans-serif;
  box-sizing: border-box;
}

* button {
  background-color: #cfb95f;
}

* button:hover {
  background-color: #dac353 !important;
}

* button:active {
  background-color: #b59b1d !important;
}
.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 190px;
  margin: 3rem auto 2rem auto;
  width: 300px;
  background-color: #e2d087;
  border-radius: 12px;
}

.form > input {
  border: none;
  padding: 3px 6px;
  border-radius: 12px;
}
.form > textarea {
  border: none;
  max-width: 100%;
  max-height: 100%;
  padding: 6px;
  border-radius: 12px;
}
.form > button {
  margin: auto auto 0 auto;
  width: 50px;
}
.container h1 {
  width: 100%;
  text-align: center;
  color: white;
}
.container {
  width: 100%;
  min-height: 100vh;
  padding: 0 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1rem 1rem;
  padding: 8px;
  min-width: 300px;
  max-width: 300px;
  height: 260px;
  max-height: auto;
  background-color: #e6ecbf;
  border-radius: 12px;
  box-shadow: 0 0 10px #f0f5f066;
}

.card-container .card-noteTitle button {
  margin-left: auto;
  background-color: #cfb95f;
}

.card-header {
  width: 100%;
  top: -15px;
  left: 0;
  background-color: #e2d087;
  height: 30px;
  border-radius: 12px 12px 0 0;
  position: absolute;
}

.card-noteTitle {
  margin-top: 1rem;
  height: auto;
  word-break: break-all;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card-name > input {
  flex: 1;
}

.card-name > button {
  background-color: transparent;
}
.card-name > h3 {
  flex: 1;
  text-align: center;
  border-bottom: 2px dotted #00000099;
}

.card-container textarea {
  min-height: 100px;
  max-height: 200px;
  min-width: 100%;
  max-width: 100%;
}

.card-container > button {
  width: 40px;
  margin: 12px 0 12px auto;
}

.line {
  margin-top: 4px;
  border: 0.4px dashed #000;
  width: 100%;
  min-height: 0.4px;
}

/* ///CARD CONTENT TEXT  */

*::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  background-color: #cfb95f;
}
*::-webkit-scrollbar-thumb {
  background-color: #3e3307;
}

.note-noteContent {
  max-width: 100%;
  margin-bottom: 1rem;
  word-break: break-all;
  display: flex;
  overflow-y: auto;
}

.note-noteContent .edit-note {
  margin-top: 0.3rem;
  justify-content: space-between;
  display: flex;
  gap: 6px;
  width: 85%;
}
.note-noteContent .edit-note button {
  aspect-ratio: 4/4;
  margin-top: auto;
}

.buttons {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  width: 100%;
  gap: 6px;
}
* > button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  padding: 3px;
}

* > button:hover {
  background-color: #d3c463;
}
* > button:active {
  background-color: #e5cd33;
}

.loading-container {
  position: fixed;
  display: flex;
  background-color: #bc832100;
  min-height: 100vh;
  min-width: 100vw;
}
.lds-dual-ring {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 49%;
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 0 3px #f0f407;
  border-color: #ff9900 #c6c6c6 #c6c6c6 #c6c6c6;
  animation: lds-dual-ring 1s ease-in-out infinite;
}

.edit-note-buttons {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  gap: 0.5rem;
}

@keyframes lds-dual-ring {
  0%,
  10% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1rem 1rem;
    padding: 8px;
    min-width: 180px;
    aspect-ratio: 4/4;
    max-height: auto;
    background-color: #e6ecbf;
    border-radius: 12px;
    box-shadow: 0 0 10px #f0f5f066;
  }
}
